<!DOCTYPE html>
<html>
<head>
    <title>Shortener</title>
</head>
<body>
    <h1>Shortener</h1>
    <p>A simple URL shortener created by <a href='https://tarush-g.github.io/'>Tarush Garimella</a>.</p>
    <form method="post">{% csrf_token %}
        <input type="url" name="url" required>
        <button type="submit">Get Short URL</button>
    </form>
    {% if short_link %}
        <p>Shortened URL: <a href="{{ request.scheme }}://{{ request.get_host }}/{{ short_link.shortened }}">{{ request.scheme }}://{{ request.get_host }}/{{ short_link.shortened }}</a></p>
    {% endif %}
</body>
</html>